*{
  margin: 0;
  padding: 0;
}

.seleccion{
  display: flex;
  text-align: center;
}

.opcion{
 background-color: black;
 color: white;
 height: 300px;
 margin: 5px 5px;
 padding-top: 23px;
 font-size: 1.2em;
}

.input{
  display: flex;
  font-size: 1.2em;
  padding: 8px;
}

.input input{
  background-color: blue;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

input[type='radio'] {
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari y Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(3);
  /* opcional: agregar un borde para mejorar la apariencia */
  border: 1px solid black;
  border-radius: 50%;
}

.aviso{
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 0.7em;
  margin-left: 5px;
  border-radius: 5px;
}

.aviso2{
  margin-left: 5px;
  color: gray;
}

.preguntas label{
  font-size: 1.3em;
  margin-left: 5px;
  
}

.boton{
  background-color: blue;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 13px;
  text-decoration: none;
}

.textfiel{
  margin: 15px 5px;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid gray;
}

.labes{
  display: flex;
  align-items: center;
}

.resumen{
  color: green;
  margin-left: 5px;
  font-size: 1.2em;
}

.container{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.container-resumen{
  margin-right: 100px;
}

.container-resumen h3{
  font-size: 1.5em;
  margin-bottom: 20px;
}


.imgR{
  width: 250px;
}

/* .content{
  display: flex;
} */

.item{
  display: flex;
  justify-content: space-between;
}